*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
}
.layout{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}